we will be working with a very large database here

Resources: 
https://www.mass.gov/doc/list-of-town-ids-and-names-pdf/download 
This link shows the municipal Id we are interested in

In [1]:
import pandas as pd
import csv

In [21]:
file_name = 'mapc.ma_parcels_metrofuture.csv'
file2_name = 'bostonParcelsData.csv'

In [40]:
from doctest import master


with open(file_name) as csv_file:
    #source :https://www.geeksforgeeks.org/get-column-names-from-csv-using-python/
    # creating an object of csv reader
    # with the delimiter as ,
    csv_reader = csv.reader(csv_file, delimiter = ',')
    # list to store the names of columns
    list_of_column_names = []
 
    # loop to iterate through the rows of csv
    for row in csv_reader:
 
        # adding the first row
        list_of_column_names.append(row)
 
        # breaking the loop after the
        # first iteration itself
        break

masterColumnNames = list_of_column_names[0]
print(masterColumnNames)
df = pd.DataFrame(columns= list_of_column_names[0])
df.to_csv(file2_name, encoding='utf-8', index=False)

['objectid', 'mapc_id', 'muni_id', 'muni', 'parloc_id', 'poly_typ', 'map_num', 'mappar_id', 'loc_id_cnt', 'land_value', 'bldg_value', 'othr_value', 'total_value', 'ls_price', 'ls_date', 'bldg_area', 'res_area', 'luc_1', 'luc_2', 'luc_adj_1', 'luc_adj_2', 'num_units', 'units_est', 'units_src', 'num_rooms', 'yr_built', 'site_addr', 'addr_str', 'addr_num', 'addr_zip', 'owner_name', 'owner_addr', 'owner_city', 'owner_stat', 'owner_zip', 'fy', 'lot_areaft', 'far', 'pct_imperv', 'pct_bldg', 'pct_pave', 'landv_pac', 'bldgv_psf', 'totv_pac', 'bldlnd_rat', 'sqm_imperv', 'sqm_bldg', 'sqm_pave', 'realesttyp', 'temp', 'shape']

In [ ]:
for chunk in pd.read_csv(file_name, chunksize= 20000):
    chunk = chunk[chunk["muni_id"] == 35]
    chunk.to_csv(file2_name, mode='a', index=False, header=False) # this line adds to a python database 
    #this filters boston data

<h> ALL CODE ABOVE DOES NOT NEED TO BE EDITED</h>
The filtered data has been placed inside of bostonparcelsdata.csv you can access that file and do any data analysis on it


https://www.mass.gov/doc/standard-for-digital-parcels-and-related-data-sets-version-3/download
This link contains the column information, however we need better documentation for this

In [2]:
import pandas as pd
import csv
dataFile = 'bostonParcelsData.csv'

In [3]:
df = pd.read_csv(dataFile)
df.head()

/var/folders/3b/f76j725j65sdr8436v5yf6c40000gn/T/ipykernel_65819/203887038.py:1: DtypeWarning: Columns (7,29,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dataFile)

,objectid,mapc_id,muni_id,muni,parloc_id,poly_typ,map_num,mappar_id,loc_id_cnt,land_value,...,landv_pac,bldgv_psf,totv_pac,bldlnd_rat,sqm_imperv,sqm_bldg,sqm_pave,realesttyp,temp,shape
0,797047,1512945,35,Boston,M_233023_891613,Boston_poly,NaN,1802214000,1.0,17300.0,...,191628.839449,-0.9999,191628.839449,0.0,33.501537,-0.9999,0.0,12.0,NaN,3C00000005000000080010006A69000024022101010000...
1,797048,1512946,35,Boston,M_232707_891494,Boston_poly,NaN,1802670000,1.0,20800.0,...,229673.507517,-0.9999,229673.507517,0.0,-0.999900,-0.9999,0.0,12.0,NaN,3C00000005000000080010006A69000024022101010000...
2,797049,1512947,35,Boston,M_227884_890500,Boston_poly,NaN,2011012000,1.0,6600.0,...,243601.146454,-0.9999,243601.146454,0.0,-0.999900,-0.9999,0.0,12.0,NaN,3A00000005000000080010006A69000022022101010000...
3,797050,1512948,35,Boston,M_228049_890279,Boston_poly,NaN,2011140000,1.0,9000.0,...,208137.943829,-0.9999,208137.943829,0.0,-0.999900,-0.9999,0.0,12.0,NaN,4200000006000000080010006A6900002A022101010000...
4,797051,1512949,35,Boston,M_232563_891546,Boston_poly,NaN,1802571000,1.0,16200.0,...,157623.634360,-0.9999,157623.634360,0.0,-0.999900,-0.9999,0.0,12.0,NaN,3C00000005000000080010006A69000024022101010000...

In [26]:
mappar = pd.DataFrame().assign(mapparId=df['mappar_id'])
pd.to_numeric(mappar['mapparId'], errors="ignore")
mappar = mappar.dropna()
mappar

         mapparId
0      1802214000
1      1802670000
2      2011012000
3      2011140000
4      1802571000
...           ...
99173   503748000
99174  1200921000
99175  2007742001
99176  1807374000
99177  1807477000

[99159 rows x 1 columns]

Empty DataFrame
Columns: [mapparId]
Index: []

In [8]:
mappar

0        1802214000
1        1802670000
2        2011012000
3        2011140000
4        1802571000
            ...
99173     503748000
99174    1200921000
99175    2007742001
99176    1807374000
99177    1807477000
Name: mappar_id, Length: 99178, dtype: object

In [4]:
df.columns
#these arer the columns of the database, we only need a few of these columns to answer our quesitons

Index(['objectid', 'mapc_id', 'muni_id', 'muni', 'parloc_id', 'poly_typ',
       'map_num', 'mappar_id', 'loc_id_cnt', 'land_value', 'bldg_value',
       'othr_value', 'total_value', 'ls_price', 'ls_date', 'bldg_area',
       'res_area', 'luc_1', 'luc_2', 'luc_adj_1', 'luc_adj_2', 'num_units',
       'units_est', 'units_src', 'num_rooms', 'yr_built', 'site_addr',
       'addr_str', 'addr_num', 'addr_zip', 'owner_name', 'owner_addr',
       'owner_city', 'owner_stat', 'owner_zip', 'fy', 'lot_areaft', 'far',
       'pct_imperv', 'pct_bldg', 'pct_pave', 'landv_pac', 'bldgv_psf',
       'totv_pac', 'bldlnd_rat', 'sqm_imperv', 'sqm_bldg', 'sqm_pave',
       'realesttyp', 'temp', 'shape'],
      dtype='object')